[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/SFML/SFML.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/mini"]
	path = vendor/mini
	url = https://github.com/pulzed/mINI.git
